*{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.645);
}

#bookingform{
    height: 300px;
    width: 700px;
    text-align: center;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
   z-index: 1;
   background-color: aliceblue;
   display: none;
}
#bookingform form{
    margin-top: 40px;

}
 #cancel{
    float: right;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-top: 10px;
  background-image: url(./cancelimage.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border-radius: 30px;

 }
 #form input{
   margin-bottom: 20px;
   
 }
 #phonenumber{
    margin-right: 120px;
 }
 #Moviename{
    margin-right: 50px;
 }
 #numbertik{
    margin-right: 80px;
 }

 #submit{
  width: 100px;
  height: 25px;
  background-color: crimson;
  color: aliceblue;
  border-radius: 10px;
 }
 



    
 

#spaceing{
    height: 300px;
    width: 100%;
    background-color: rgba(225, 191, 191, 0.934);
  
 
    
}
#image{
    height: 50%;
    width: 30%;
   background-image: url(./ava4.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 20px;
   
}
#image2{
    height: 50%;
    width: 30%;
   background-image: url(./samer.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 20px;
   
}
#image3{
    height: 50%;
    width: 30%;
   background-image: url(./opr.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 20px;
   
}
#image4{
    height: 50%;
    width: 30%;
   background-image: url(./pathaan3.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 20px;
   
}
#theaterdiv{
    margin-top: 150px;
    height: 100px;
    width: 100%;
} 
#theaterdiv div{
 margin-top: 20px;
  height:80% ;
  width: 100%;
}
#theater1 button{
    height: 35%;
    width: 80px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
   border-color: aliceblue;
   background-color: black;
   color: aliceblue;
   cursor: pointer;

}
#theater1 label{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgb(255, 41, 83);
    color: aliceblue;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
   
}
#theater2 button{
    height: 35%;
    width: 80px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background-color: black;
    color: aliceblue;
    cursor: pointer;

}
#theater2 label{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgb(255, 41, 83);
    color: aliceblue;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
}
#yourbookings{
  height: 100px;
  width: 100%;
  background-color: rgb(243, 36, 36);
   
  color: aliceblue;
  
}
#yourbookings h1{
background-color: rgb(243, 36, 36); ;
 position: absolute;
 margin-top: 20px;
 margin-left:50%; 
 width: 50%;
font-size:xx-large;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
#parentcon{
    height:1000px;
    width: 100%;
    background-color: aqua;
    display: flex;
    
}

#parentcon #iner{
  height: 15%;
  width: 20%;
  background-color: aliceblue;
  margin-left: 20px;
  margin: 0;
  border-radius: 10px;
  
  
}
#parentcon input{
 height: 2%;
 width: 10%;
 background: none;
 border: none;
 
}
#parentcon button{
    height: 30px;
    width: 150px;
    background-color: black;
    border-color: red;
    border-radius: 10px;
  color: red;
  font-size: large;
    float: right;
    margin-top: 50px;
}
#chaild{
    position: absolute;
    right: 400%;

}#chaild1{
    position: absolute;
    right: 400%;

}

